<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <title>Help</title>
        <link rel="icon" href="/img/3.png">
    </head>
    <body>
        {{>header}}
        <p>{{info}}</p>
        {{>footer}}
    </body>
</html>